body {
background-color:white;
font-family: calibri;
color:#000;
line-height:18px;
}
a:link, a:visited {
text-decoration:none;
color: #fff;
}
/* SCROLLBAR
----------------------------------------------- */
::-webkit-scrollbar {
width:8px;
height:auto;
}
::-webkit-scrollbar-thumb{
background:#fff;
}
/* UNDERLINE
----------------------------------------------- */
u{
text-decoration: none;
border-bottom: #FEBBD6 2px solid;
}
/* BACKSIDE
----------------------------------------------- */
.back-side{
background-color:white;
}
/* NAVIGATION
----------------------------------------------- */
  .tablo{
  border:1px black solid;
    padding:2px;
    background:black;
    border-radius:10%;
    letter-spacing:2px;
    font-size: 18px;
  }
  a.navi{
  display:inline-block;
  -webkit-transition:All 0.8s ease ;
  -moz-transition:All 0.84s ease ;
  -o-transition:All 0.8s ease ;
  padding:5px;
  width:200px;
  text-decoration:none;
  font-family:Sans-serif;
  font-size:20px;
  text-transform:uppercase;
  text-align:center;
  border-radius:8px 10px 10px 10px;
  border-left:4px solid white;
  }
  a.navi:hover{
  color: red;
  border-left:4px solid red;
  }
  /* Preloader */
  #preloader {
      position: fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#fff; /* change if the mask should have another color then white */
      z-index:99;
  }
  #status {
      width:200px;
      height:200px;
      position:absolute;
      left:50%;
      top:50%;
      background-image:url(img/loading.gif); /* path to your loading animation */
      background-repeat:no-repeat;
      background-position:center;
      margin:-100px 0 0 -100px;
  }
